<div class="container">

  <div align="center">
    <h2 class="card-title text-center text-black py-2">Upload Students</h2>
    <h6>Please upload a .CSV file that has the following column labels: pantherID, studentFirstName, studentLastName, studentEmail</h6>
    <br>
  </div>
    <ul class="text-center list-inline py-2">
      <form method="POST" action="/uploadstudents" enctype="multipart/form-data">
        <li class="list-inline-item">
            <input type="file" id="file" accept=".csv" class="btn btn-info" (change)="handleFileInput($event.target.files)"/>
        </li>
        <li class="list-inline-item">
        <button (click)="submitFile()" type="submit" [disabled]="!fileToUpload"
                  class="btn btn-info">Upload File</button>
        </li>
      </form>
      <br>
      <p>PantherID must be a number, studentFirstName must be a string, studentLastName must be a string, studentEmail must be a string.</p>
    </ul>
</div>
