<div align="center">
  <h2 class="card-title text-center text-black py-2">Student List</h2>
</div>
<div align="center" *ngIf="showSuccessMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Successfully uploaded!</strong> You can now view added students in the list below. To add more students, go to "Update Students" and submit a new file.
    </p>
  </div>
</div>
<div align="center" *ngIf="showErrorMsg">
  <div class="col-xs-12">
    <p class="alert alert-danger">
        <strong>Could not upload students!</strong> Please try again by going to "Update Students" and resubmitting the file.
    </p>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Panther ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.pantherID }}</td>
          <td>{{ student.studentFirstName }}</td>
          <td>{{ student.studentLastName }}</td>
          <td><a href="mailto:{{ student.studentEmail }}">{{ student.studentEmail }}</a></td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/exportstudents" class="btn btn-info">Export Student Attendance</a>
  </div>
</div>
